
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto mt-3">
            <div class="card_login">
                <div class="card text-center text-primary">
                    <div class="card-header">
                        <h4>Login</h4>
                    </div>
                    <div>
                    <img src="assets/images/img-login.jpg" alt="imagen login" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formLogin" autocomplete="off" (submit)="Login()">
                            <div class="form-group required">
                                <input placeholder="Username" formControlName="UserName" maxlength="15" required>
                                <label class="text-danger" *ngIf="formLogin.get('UserName').touched && formLogin.get('UserName').errors?.required">El campo username es obligatorio</label>
                            </div>
                            <div class="form-group required">
                                    <input type="password" placeholder="Password" formControlName="Password" required maxlength="25">
                                    <label class="text-danger" *ngIf="formLogin.get('Password').touched && formLogin.get('Password').errors?.required">El campo password es obligatorio</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!formLogin.valid">
                                  Login
                                </button>
                            </div>
                            <a routerLink="/user/register" class="form-control irARegister text-primary">¿No tienes cuenta?</a>
                            <a routerLink="/user/passwordRecovery" class="form-control irARegister text-primary">¿Contraseña olvidada?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>